body {
    background: #555555;
    color: #eeeeee;
}

/*
.visor {
    height: 250px !important;
}*/
.visor div,th,td {
    color: #000000;
}

.canvases {
    display: inline-block;
}

p {
    margin-bottom: 3px;
}

label {
    display: inline-block;
    padding: 6px 0 6px 0;
}

a {
    color: burlywood
}

    a:hover {
        color: aliceblue;
    }

    .hide-block {
        display: none;
    }

.scroll-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    background-color: rgba(28, 96, 72, 0.8);
    color: white;
    color: rgba(255, 255, 255, 0.8);
    padding: 16px 22px 16px 22px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    font-size: large;
    /*font-weight: bold;*/
}

    .scroll-top:hover {
        background-color: rgb(32, 142, 93);
    }

.scroll-top-show {
    display: block;
    animation: scrollcome 0.5s linear 0s 1 normal;
}

.data-desc-collapser {
    cursor: pointer;
}

.data-desc-table-title {
    margin-bottom: 0px;
    font-style:italic;
    font-size: larger;
    color: #BBBB00;
    /*text-align: center;*/
}

.data-desc-table tr, .demo-summary tr {
    border: 1px solid #AAAA00;
}

.data-desc-table, .demo-summary {
    border-collapse: collapse;
    /*margin:auto;*/
}

    .data-desc-table td, .data-desc-table th, .demo-summary td, .demo-summary th {
        color: #eeeeee;
        border-right: 1px solid #AAAA00;
        padding-left: 5px;
        padding-right: 5px;
    }

.demo-summary td{
    padding: 10px;
}

.demo-summary-count {
    font-size: xx-large;
}

section {
    padding-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
}

.section-head {
    font-size: x-large;
    /*text-decoration: underline;*/
    font-weight: bold;
    color: #BBBB66;
}

section.stage-two-content {
    overflow: auto;
}

.demo-area {
    display: flex;
    flex-direction: column;
}

.demo-area-row {
    display: flex;
    flex-direction: row;
    
}

.demo-area-header {
    writing-mode: vertical-rl;
    text-transform: capitalize;
    padding: 3px;
    text-orientation: mixed;
    border: 1px solid black;
    flex: 1;
}

.demo-area-data {
    border: 1px solid black;
    padding: 3px;
    flex: 1;
    text-align: right;
}
    
.demo-area-data:hover {
    border: 2px solid #FF0000;
}

    .demo-area-data:hover span::before {
        text-transform: capitalize;
        content: attr(data-poke-type) ' = ';
    }

.pos-label {
    background: #CCCC2288;
}

.high-predict {
    background: #5555FF88;
}

.pos-label.high-predict {
    background: #00BB0088;
}

.small-width {
    width: 700px;
}

.demo-area-data img {
    max-width: 100%;
}